body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    
}
#buttonContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* space between buttons */
    z-index: 10;
}

#buttonContainer button {
    padding: 10px 20px;
    font-size: 16px;
}

